<!doctype html>
<html>
    
    <head>
        <!--<meta http-equiv="refresh" content="3">-->

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='img/swarm_icon.png') }}" />
        <script type="text/javascript" src="{{ url_for('static', filename='js/any.js') }}"></script>

        <title>Title</title>       

    </head>

   <body>      
       <div class="body-div">
        <nav class="nav01">
            <div class="nav-square">
                <img src="{{ url_for('static', filename='img/swarm_icon.png') }}" >
            </div>
                <div class="nav-wrapper">
                  <a class="logo-menu" id="logo-menu" >
                    Swarm
                  </a>
                  <a class="material-icons">
                  </a>        
                  <ul class="ul01 right " >
                    <li>
                      <div class="selection">
                        <a>
                              <img id="source" src="{{ url_for('static', filename='img/source_icon.png') }}">
                        </a>
                    </div>
                    </li>
                  </ul>
                </div>
              </nav>

         <div id="conteudo">                   

           <section class="microservices">
             <div class="count">
              Services: 137
            </div>
            {% for dict in listServices %}
            {% set serviceName = dict['name'] %}
            
            <button class="accordion" tag="run: {{dict[serviceName]['replicas']['running']}}/{{dict[serviceName]['replicas']['total']}}" onclick="FillInfo('{{serviceName}}')">{{serviceName}}</button>
            
            <div class="panel">
              <div class="info-right">
                <p>IMAGE: sla</p>
                <p>REPLICAS: 12</p>
                <p>RESOURCES</p>
                <p>RESERVATION - MEMORYBYTES: 16gb </p>
              </div>
              <div class="info-left">
                <p>VERSION: production-12v </p>
                <p>DEADCONTAINERS: 123 </p>
                <br>
                <p>LIMIT - MEMORYBYTES: 123456 </p>
              </div>
            </div>

            {% endfor %}

          </section>

         </div>
        </div>
        
   </body>

</html>